// app global css
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.description {
  max-width: 280px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.text-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: center;
}

.text-card {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0px;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}
